body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(Photo.jpg);
}

.main-container {
    display: flex;
    width: 80%;
    border: 2px solid #333; 
}

.left-half {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
}

.vertical-line {
    border-right: 2px solid #333;
}

.right-half {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
}

.main-inside {
    padding: 20px;
}

